screenlog*
*.pyc
*.pyo
*.swp
satserver/sat/SAT/data/SPH/*
satserver/sat/SAT/data/PRM/M/*
satserver/sat/SAT/data/PRM/F/*
satserver/sat/SAT/data/LBL/M/*
satserver/sat/SAT/data/LBL/F/*
satserver/sat/SAT/data/IV/RAW/F/*
satserver/sat/SAT/data/IV/RAW/M/*
satserver/sat/SAT/data/UBM/LBL/M/*
satserver/sat/SAT/data/UBM/LBL/F/*
satserver/sat/SAT/data/UBM/PRM/M/*
satserver/sat/SAT/data/UBM/PRM/F/*
satserver/sat/SAT/data/UBM/MAT/M/*
satserver/sat/SAT/data/UBM/MAT/F/*
satserver/sat/SAT/data/UBM/GMM/M/*
satserver/sat/SAT/data/UBM/GMM/F/*
satserver/sat/SAT/data/UBM/IV/RAW/M/*
satserver/sat/SAT/data/UBM/IV/RAW/F/*
satserver/sat/SAT/log/*

